:root {
  --sunset: #f2cc88;
  --amber: #f3b900;
  --safety-orange:#fa7301;
  --persimmon: #e45b11;
  --blood-orange:#b50001;
}
*{
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

